
.naviline{
	width:100%;
	height:2px;
	position: fixed;
	top:4em;
	z-index:100;
	background-color:rgb(160,30,30);
	left:0;
}
.navigation{
	width:100%;
	height:4em;
	position: fixed;
	top:.1px;
	z-index:105;
	background-color: white;
	left:0;
}
.navi:hover{
	transform: scale(1.2);
	color:rgb(160,30,30);
}
.lang:hover{color:rgb(160,30,30);
	}
.products{
font-family: Raleway-Bold;
font-size: 1.4em;
color: black;
text-decoration: none;
position:fixed;
left:36.5%;
z-index:101;
top:.9em;
}
.events{
font-family: Raleway-Bold;
font-size: 1.4em;
color: black;
text-decoration: none;
position:fixed;
left:54.5%;
z-index:101;
top:.9em;
}
.about{
font-family: Raleway-Bold;
font-size: 1.4em;
color: black;
text-decoration: none;
position:fixed;
left:70%;
z-index:101;
top:.9em;
}
.lang{
	font-family: Raleway-Light;
font-size: .8em;
color: black;
text-decoration: none;
position:fixed;
z-index:101;
}
.en{
left:91%;
top:1.9em;
}
.gang{
	left:93.5%;
	top:1.8em;
}
.cn{
	left:94.5%;
	top:1.7em;
}
.logo{
position:fixed;
left:4.8%;
z-index:300;
top:.9em;
width:10.2em;
}

.navi2 {
	display:none;
}
.photo{
	position:relative;
	top:7em;
	left:14%;
	width:12em;
}

h2{
	font-family: Raleway-Bold;
}

.navi2{
	display: none;
}
.box{
	left:2%;
	width:95%;
	top:2em;
	display:inline-block;
	position:absolute;
	alignment-baseline: hanging;
}
.items:hover{
	background-color:rgb(160,30,30) ;
	opacity: .7;
	z-index:200;
}
.items{
	width:15em;
	height: 25em;
	border: solid;
	border-color: rgb(160,30,30);
	border-width: 2px;
	background-color: white;
	display:inline-block;
	left:2em;
	margin-left: 2em;
	margin-top:4em;
	position: relative;
	alignment-baseline: auto;
	text-decoration: none;

}
.image{
	padding-left: 30%;
	padding-top: 20%;
	width:40%;
	position: relative;
}
.redwine{
	position: absolute;
	top:.6em;
	left:.7em;
	  height: .8em;
  	width: .8em;
  	background-color:rgb(160,30,30);
  	border-radius: 50%;
  	display: inline-block;
}
.whitewine{
	position: absolute;
	top:.6em;
	left:.7em;
	  height: .8em;
  	width: .8em;
  	background-color:#FAE6A0;
  	border-radius: 50%;
  	display: inline-block;
}
.pricee{
	font-family: Lato-Regular;
	position: absolute;
	top:.1em;
	left:2em;
	text-decoration: none;
	color:black;
	font-size: 1.4em;
	letter-spacing: .1em;

}
h1{
	position:absolute;
	font-family: Raleway-Bold;
	font-size:1.2em;
	color:black;
	left:0%;
	width:95%;
	top:80%;
	text-align: center;
}
h3{
	top:3.5em;
	position:relative;
	font-size:1em;
	left:0;
	width:95%;
	opacity: 0.5;
	font-family: Raleway-Regular;
	color: #A01E1E;
	padding-left: 1em;
	display: inline;
}

@media screen and (max-width: 800px ){ 

.navigationblock{
	width:100%;
	height:2em;
	position: fixed;
	top:0;
	left:0;
	z-index:200;
	background-color: white;
}

.navi{
	display:none;
}	
.lang{
	display:none;
}
.navigation{
	display:none;
}
.navi2{
	width:100%;
	height:18em;
	position: fixed;
	top:0;
	z-index:100;
	background-color: white;
}
.products{
font-family: Raleway-Bold;
font-size: 1.3em;
color: black;
text-decoration: none;
position:fixed;
left:20%;
z-index:101;
top:5em;
}
.events{
font-family: Raleway-Bold;
font-size: 1.3em;
color: black;
text-decoration: none;
position:fixed;
left:20%;
z-index:101;
top:10em;
}
.about{
font-family: Raleway-Bold;
font-size: 1.3em;
color: black;
text-decoration: none;
position:fixed;
left:20%;
z-index:101;
top:15em;
}
.lang2{
font-size: .8em;
color: black;
text-decoration: none;
position:fixed;
z-index:101;
}
.lang2:hover{
	color:rgb(160,30,30);
	}
.en{
left:82%;
top:8.4em;
}
.gang{
	left:87%;
	top:8.4em;
}
.cn{
	left:89%;
	top:8.3em;
}
.naviline2{
	width:100%;
	height:2px;
	position: fixed;
	top:25em;
	z-index:200;
	background-color:rgb(160,30,30);
	left:0;
}
.hamburger{
    position:fixed;
    top:.4em;
    right:5%;
    font-size:1.8em;
}
.hamburger:hover{
	transform: scale(1.2);
}
.cross{
	 position:fixed;
    top:.2em;
    right:5%;
    font-size:4em;
    z-index:400;
}
.cross:hover{
	transform: scale(1.2);
}


}


@media screen and (max-width: 480px ){

.logo{
position:fixed;
left:4.8%;
z-index:300;
top:.9em;
width:40%;
}


.navigation{
	display: none;
}

.navi2{
	width:100%;
	height:18em;
	position: fixed;
	top:0;
	z-index:100;
	background-color: white;
}
.products{
font-family: Raleway-Bold;
font-size: 2em;
color: black;
text-decoration: none;
position:fixed;
left:20%;
z-index:101;
top:20%;
}
.events{
font-family: Raleway-Bold;
font-size: 2em;
color: black;
text-decoration: none;
position:fixed;
left:20%;
z-index:101;
top:32%;
}
.about{
font-family: Raleway-Bold;
font-size: 2em;
color: black;
text-decoration: none;
position:fixed;
left:20%;
z-index:101;
top:44%;
}
.lang2{
font-size: .8em;
color: black;
text-decoration: none;
position:fixed;
z-index:101;
}
.lang2:hover{
	color:rgb(160,30,30);
	}

.en{
font-family: Raleway-Light;
left:82%;
top:7.4em;
}
.gang{
	left:87%;
	top:7.4em;
font-family: Raleway-Light;
}
.cn{
	left:89%;
	top:7.3em;
font-family: Raleway-Light;
}
.cross{
	 position:fixed;
    top:.2em;
    right:5%;
    font-size:4em;
    z-index:400;
}






}