<!doctype html>
<html>
<head> <link href="test.css" type="text/css" rel="stylesheet"/>

 <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div ng-app='angularDemo' ng-cloak>
  <md-toolbar layout-padding>
    <h2>Filtering with Angular Filters</h2>
  </md-toolbar>
  <div layout="row" ng-controller="angularController as ctrl">
    <div flex="20" class="sidebar" layout-padding>
      <div ng-repeat="filter in Filters">
        <h3 class="sort">{{filter.name}}</h3>
        <ul class="sortoptions">
          <li ng-repeat="option in filter.options">
            <input type="checkbox" ng-model="option.IsIncluded" ng-checked="option.IsIncluded"> {{option.value}}
            <span>({{option.count}})</span>
          </li>
        </ul>
      </div>
      <md-button class="md-raised" ng-click="ctrl.toggleAll($event, false)">Uncheck All</md-button>
      <br/>
      <md-button class="md-raised" ng-click="ctrl.toggleAll($event, true)">Check All</md-button>
   </div>
    <div flex="50" layout="row">
      <md-card flex ng-repeat="fruit in Fruits | dynamicFilter:Filters:this" class="product">
        {{fruit.name}}
      </md-card>
    </div>
  </div>
</div>



<script type="text/javascript" src="https://wangx733.github.io/jogano/jquery-3.1.1.js"></script>
  <script type="text/javascript" 
          src="https://wangx733.github.io/jogano/test.js"> </script>
</body>
</html>
